/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  background: linear-gradient(to bottom right, hsl(234, 100%, 5%), hsl(140, 39%, 70%)) no-repeat fixed;
  background-size: cover;
  font-family: Helvetica;
  color: white;
}


.title {
  height: 65px;
  color: pink;
  position: relative;
  bottom: 20px;
  margin-left: 65px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 27px;
  background-color: white;
  width: cover;
}

.logo {
  height: 60px;
  width: 50px;
  position: relative;
  bottom: 20px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 12px;
  background-color: white;
}
